{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div style="width: 100%;display: flex; justify-content: end;align-items: center;">
        <a href="#" class="create-button">Create product</a>
    </div>
    <div>
        <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td style="display: flex;">
                        <i class="material-icons" style="font-size:20px;color:red; cursor: pointer">delete</i>
                        <i class="material-icons" style="font-size:20px;color:green; cursor: pointer">update</i>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}